name: build-4.0

on:
  push:
    branches:
      - "releases/*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-18.04
          - macos-10.15
        redis:
          - "4.0.14"
          - "4.0.13"
          - "4.0.12"
          - "4.0.11"
          - "4.0.10"
          - "4.0.9"
          - "4.0.8"
          - "4.0.7"
          - "4.0.6"
          - "4.0.5"
          - "4.0.4"
          - "4.0.3"
          - "4.0.2"
          - "4.0.1"
          - "4.0.0"
    steps:
      - uses: actions/checkout@v2
      - name: build
        shell: bash
        run: ./build-redis.sh "$REDIS_VERSION"
        env:
          REDIS_VERSION: ${{ matrix.redis }}

      - name: upload
        run: |
          ACTIONS_VERSION=v$(jq -r .version < "$GITHUB_WORKSPACE/package.json")
          OS=$(uname | tr '[:upper:]' '[:lower:]')
          gh release upload --clobber "$ACTIONS_VERSION" "$RUNNER_TEMP/redis-bin.tar.zstd#redis-$REDIS_VERSION-${OS}-x64.tar.zstd"
        env:
          REDIS_VERSION: ${{ matrix.redis }}
          GITHUB_TOKEN: ${{ github.token }}
