name: build Redis 4.0

on:
  push:
    branches:
      - "releases/*"
  workflow_dispatch:

jobs:
  build:
    timeout-minutes: 12
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-22.04-arm
          - macos-14
          - macos-13
        redis:
          - "4.0.14"
          - "4.0.13"
          - "4.0.12"
          - "4.0.11"
          - "4.0.10"
          - "4.0.9"
          - "4.0.8"
          - "4.0.7"
          - "4.0.6"
          - "4.0.5"
          - "4.0.4"
          - "4.0.3"
          - "4.0.2"
          - "4.0.1"
          - "4.0.0"
    permissions:
      contents: write
      id-token: write
      attestations: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: "false"
      - name: build
        shell: bash
        run: ./build-redis.sh "$REDIS_VERSION"
        env:
          REDIS_VERSION: ${{ matrix.redis }}

      - name: upload
        run: |
          ACTIONS_VERSION=v$(jq -r .version < "$GITHUB_WORKSPACE/package.json")
          REDIS_OS=$(uname -s | tr '[:upper:]' '[:lower:]')
          case "$(uname -m)" in
              "x86_64")
                  REDIS_ARCH="x64"
                  ;;
              "arm64" | "aarch64")
                  REDIS_ARCH="arm64"
                  ;;
              *)
                  echo "unsupported architecture: $(uname -m)"
                  exit 1
                  ;;
          esac
          mv "$RUNNER_TEMP/redis-bin.tar.zstd" "$RUNNER_TEMP/redis-$REDIS_VERSION-$REDIS_OS-$REDIS_ARCH.tar.zstd"
          gh release upload --clobber "$ACTIONS_VERSION" "$RUNNER_TEMP/redis-$REDIS_VERSION-$REDIS_OS-$REDIS_ARCH.tar.zstd"
        env:
          REDIS_VERSION: ${{ matrix.redis }}
          GITHUB_TOKEN: ${{ github.token }}
      - uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-path: ${{ runner.temp }}/*.tar.zstd
